.cover {
  position: relative;
  margin: 92px auto;
  max-width: 1184px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 65px auto;
  }
}

.cover:hover .cover__overlay{
  background-color: rgba(42, 44, 47, .8);
}
